.table-card {
    width: 90%;
    /* margin-top: 10%; */
    box-shadow: 1px 1px 6px 1px lightgrey;
    border-radius: 10px;
}
.heading{
    font-size: xxx-large;
}
.table-structure{
    width: 100% ;
    display: flex;
    justify-content: center;

}
.heading{
    font-size: large;
    font-weight: 500;
}
.image{
    height: 30px;
    width: 30px;
}
.logo{
    width: 250px;
    display: flex;
    align-items: flex-end;
    margin-left: 250px;
}
.add{
    margin-left: 88%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.table-head{
    font-size: 18px;
}
.column-data{
    /* text-align: center; */
}