.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2E1D1E;
    color: white;
    height: 50px;
 }
.copyright{
    color: #ffff;
    margin: 15px 16%;
}
/* p {
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
} */
