.toolbar{
    background: #A03037;
    padding: 0%;
}
.title{
    color: #ffff;
    margin-left: 1%;
}
.logo{
    margin-left: 14%;
}
.searchCard{
    width:42%;
    background: #ffff;
    margin-left: 5%;
    border-radius: 5px;
}
.searchInput{
    outline: none;
    border: none;
    font-size: inherit;
}
.cart{
    color: #ffff;
    font-size: small;
}
.cart-logo{
    margin-top: 10px;
}
.icon{
    margin-left: 12px;
    margin-top: 10px;
    color: white;
    background: #A03037;
}
.logo1{
    margin-left: 12%;
}
.cart-div{
    margin-left: 4%;
}
.name{
    font-size: small;
    color: white;
    margin-left: 8px;
}
