<div>
    <mat-toolbar class="toolbar">
    <img class="logo" src="../../../assets/Images/education.svg">
    <span class="title">Book Store</span>
    <div Class="searchCard" fxLayout="row">
        <div fxFlex="10">
            <button mat-icon-button class="searchButton">
            <mat-icon class="search" >search</mat-icon>
            </button>
        </div>
        <input Class="searchInput" type="input" placeholder="Search">
    </div>
    <span class="cart">Cart</span>
    <img class="cart-logo" src="../../../assets/Images/supermarket.svg">
    </mat-toolbar>
</div>
